*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  height: 0;
  box-sizing: border-box;                                             
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    background: linear-gradient(45deg, #31312f,#161616);
    height: 90vh;    
    display: flex;
    flex-direction: row;                                          
}

.main-name {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-name h1{
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-size: 102px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #bfbfbf7a, 7px 7px 0px rgb(0 0 0 / 20%)
}

.main-name span{
    color: #fff;
    font-size: 80px;
}

.main-name p{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}

.main-about {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-about__description {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    line-height: 21px;
    width: 80%;
    margin-top: 85px;
}

.main-about__text{
    margin-bottom: 10px;
}

.main-about__img {
    position: absolute;
    background: url(https://sun9-35.userapi.com/impg/8gWdeRSXPPBn-q1yVWKo4fU-TPTUm6oFP59y_A/utWKYnuToAQ.jpg?size=1440x2160&quality=96&sign=5f7694129d6f383ed6958a71eee240fa&type=album);
    width: 60%;
    height: 545px;
    background-size: cover;
    top: 40%;
}
.info {
    background: #F7F7F7;
    padding-top: 170px;
    padding-bottom: 170px;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}



.info-container__groupe {
    width: 30%;
    position: relative;
    display: inline-block;
    padding: 15px 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.info-container__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.info-container__groupe:hover .info-container__item{
    transform: translateY(0px);
    opacity: 1;
}

.info-container__title {
    text-transform: uppercase;
    font-size: 19px;
    color: #232323;
    margin-bottom: 30px;
    text-align: center;
}

.info-container__desription p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info-container__link{
    color: #232323;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.info-container__social{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.info-container__social a{
    text-decoration: none;
}

.info-container__social i{
    margin-right: 20px;
}

.info-container__social span{
    color: #232323;
}

.info-container__desription{
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main {
        background: linear-gradient(45deg, #31312f,#161616);
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-name h1 {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 90px;
        line-height: 60px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding-top: 20px;
    }
    .main-name span {
        color: #fff;
        font-size: 65px;
    }
    .main-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-about {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }
    .main-about__description {
        font-size: 20px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    padding: 20px;
    width: 50%;
    margin-top: 30px;
    }
    .main-about__img {
        position: initial;
        background: url(https://sun9-35.userapi.com/impg/8gWdeRSXPPBn-q1yVWKo4fU-TPTUm6oFP59y_A/utWKYnuToAQ.jpg?size=1440x2160&quality=96&sign=5f7694129d6f383ed6958a71eee240fa&type=album);
        width: 40%;
        height: 380px;
        background-size: cover;
        top: 105%;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .info-container__groupe {
        width: 70%;
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        border: 2px solid #232323;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .info {
        background: #F7F7F7;
        padding-top: 50px;
        padding-bottom: 50px;
        height: fit-content;
    }
  }

  @media screen and (max-width: 910px) {
    .main {
        height: auto;
    }
    .main-about__img {
        position: initial;
        
        width: 40%;
        height: 340px;
        background-size: cover;
        top: 105%;
    }
    .info {
        background: #F7F7F7;
        padding-top: 90px;
        padding-bottom: 50px;
        height: fit-content;
    }
  }

  @media screen and (max-width: 800px) {
    .info {
        background: #F7F7F7;
        padding-top: 130px;
        padding-bottom: 50px;
        height: fit-content;
    }
  }

  @media screen and (max-width: 670px) {
    .main-about {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        align-items: center;
    }
    .info {
        background: #F7F7F7;
        padding-top: 150px;
        padding-bottom: 50px;
        height: fit-content;
    }
  }

  @media screen and (max-width: 560px) {
    .main {
        background: linear-gradient(
    45deg, #31312f,#161616);
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-name h1 {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 55px;
        line-height: 43px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding-top: 20px;
    }
    .main-name span {
        color: #fff;
        font-size: 46px;
    }
    
    .main-about__img {
        position: initial;
        background: url(https://sun9-35.userapi.com/impg/8gWdeRSXPPBn-q1yVWKo4fU-TPTUm6oFP59y_A/utWKYnuToAQ.jpg?size=1440x2160&quality=96&sign=5f7694129d6f383ed6958a71eee240fa&type=album);
        width: 90%;
        height: 285px;
        background-size: cover;
        top: 98%;
        z-index: 4;
    }
    .info {
        background: #F7F7F7;
        padding-top: 30px;
        padding-bottom: 170px;
        height: fit-content;
    }
    .info-container__groupe {
        width: 78%;
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        border: 2px solid #232323;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .info-container__title {
        text-transform: uppercase;
        font-size: 20px;
        color: #232323;
        margin-bottom: 30px;
        text-align: center;
    }
  }

